/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}









/* global */

*{ box-sizing:border-box; }
.clearfix{ overflow:auto; }

@import url(http://fonts.googleapis.com/css?family=Lato:300);
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;
  color: #444444;
  line-height: 20px;
  
}


/*header*/

.logoimg{
  text-align:center;
  margin-top: 10px;
}

/*nav*/
 
    
.navigation li a {
      display: block;
      padding: 5px;
      border-bottom: 1px solid #f0f0f0;
    }
    
    @media all and (min-width: 600px) {
      .navigation li {
        display: inline-block;
        margin: 0 5px;
      }
      .navigation li a {
        padding: 10px 30px;
        border: 0;
      }
    }
    header nav ul {
             display: block;
             text-align: center;
             padding: 0px 5px;
        }

        a{
           color:#656a7e;
             text-decoration:none;
             
             display: inline-block;
        }
        .navigation a:hover {
           color:#bebebd;
        }

        ul li{
list-style-type:none;
}
}











/*------------------------------------*\
  Page Styles
\*------------------------------------*/



body {
  padding-top: 0;
}

p{
  font-size: 13px;
  color:#656a7e;
}

section {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 90px;
  padding-left: 90px;
  color:#656a7e;
}

section li {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}
li:last-child {
  border-bottom: 0;
}

img {
  max-width: 100%;
  height: 150px;
}


/*------------------------------------*\
  Media Object Styles
\*------------------------------------*/
.clearfix{
  overflow:auto;
}

.media {
  margin-bottom: 10px;
}
.media:after {
  content: "";
  display: table;
  clear: both;
}

.media__img {
  display: block;
  margin-right: 1.5rem;
  margin-bottom: 10px;
}

.media--one {
  
  padding: 0.75rem;
}

.media--two .media__img {
  margin-bottom: 0;
  background-color: #f0f0f0;
}
.media--two .media__body {
  padding: 0.75rem;
  background-color: #f0f0f0;
}

.media--three .media__img {
  margin-bottom: 0;
}
.media--three .media__body {
  position: relative;
  padding: 0.75rem;
  background-color: #f0f0f0;
}
.media--three .media__body:before {
  position: absolute;
  top: -0.75rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.75rem 0.75rem 0.75rem;
  border-color: transparent transparent #f0f0f0 transparent;
  content: "";
}


  .media__img {
    float: left;
  }

  .media__body {
    overflow: hidden;
    height: 120px;
  }

  .media--one {
    border-left: 0;
    padding: 0;
  }

  .media--two .media__img {
    border-left: 0;
  }
  .media--two .media__body {
    padding: 0;
    background-color: inherit;
  }

  .media--three .media__body {
    padding: 0;
    background-color: inherit;
  }
  .media--three .media__body:before {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  
  .media__img {
    height:auto;
  }
  h3{
    padding-top: 20px;
    padding-bottom: 25px;
  }
.media__body {
    overflow: hidden;
    height: 0px;
  }
}
