/* global */

*{ box-sizing:border-box; }
.clearfix{ overflow:auto; }


@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

/*header*/

.logoimg{
  text-align:center;
}

/*nav*/
 
    
.navigation li a {
      display: block;
      padding: 5px;
    }
    
    @media all and (min-width: 600px) {
      .navigation li {
        display: inline-block;
        margin: 0 5px;
      }
      .navigation li a {
        padding: 10px 30px;
        border: 0;
      }
    }
    header nav ul {
             display: block;
             text-align: center;
             padding: 0px 5px;
        }

        a{
           color:#656a7e;
             text-decoration:none;
             font-family:Open Sans, sans-serif;
             display: inline-block;
        }
        .navigation a:hover {
           color:#bebebd;
        }

        ul li{
list-style-type:none;
}


/* img part*/

.recipesimg {
  width: 100%;
  max-width: 1080px;
  height: 430px;
  overflow: hidden;
  margin: 30px auto;
}
.recipesimg ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.recipesimg ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 20%;
  height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.4s ease;
}
.recipesimg ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.recipesimg ul li div a {
  display: block;
  height: 430px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.recipesimg ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.recipesimg ul li div a h2 {
  font-family: Montserrat,sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 300px;
}
.recipesimg ul li div a p {
  top: 300px;
  font-size: 13.5px;
}
.recipesimg ul li:nth-child(1) {
  background-image: url("https://photos-5.dropbox.com/t/2/AADCprBMNpfNRUUIclYCupSn5paB6yEHwtp6Pr9RmaKHOw/12/344721733/jpeg/32x32/1/_/1/2/left1.jpg/ENO6kNkCGIGRASAHKAc/iv8QGJ7InhA3Q8szGwkwwGwSddTffoW0Vc6X-qWNSDs?size=1280x960&size_mode=3"); 
}
.recipesimg ul li:nth-child(2) {
  background-image: url("https://photos-6.dropbox.com/t/2/AADMefik1_r_K2EIcUQkfIPZwdJJpPpHlhzGui54dasCsg/12/344721733/jpeg/32x32/1/_/1/2/left2.jpg/ENO6kNkCGIGRASAHKAc/XzH2SyrUBRUDJvWMjLZCtX_9ztmi6DednyzBzcF_ops?size=1280x960&size_mode=3");
}
.recipesimg ul li:nth-child(3) {
  background-image: url("https://photos-5.dropbox.com/t/2/AAD-OQGt2K4wiKEkhk_EcFR7ockMiizvu1XAZ8RJD4v5_Q/12/344721733/jpeg/32x32/1/_/1/2/left3.jpg/ENO6kNkCGIGRASAHKAc/1gsVw_sBSs9_ITSLxSYLx3nuI38cRCDl3KjP6WgcEZo?size=1280x960&size_mode=3");
}
.recipesimg ul li:nth-child(4) {
  background-image: url("https://photos-3.dropbox.com/t/2/AAB_IJWVft334saavGGPGHJWqsxuf_twA3r2Y5FDOtznsQ/12/344721733/jpeg/32x32/1/_/1/2/left4.jpg/ENO6kNkCGIGRASAHKAc/96O-Ga0mr9d9YyFPXTa098gokzYYJbRIGhQn3SdObQA?size=1280x960&size_mode=3");
}
.recipesimg ul li:nth-child(5) {
  background-image: url("https://photos-5.dropbox.com/t/2/AACpTsAMilOSi1L_g-CBwT-Z8EjGZVtl5LjGbywHE3Y28Q/12/344721733/jpeg/32x32/1/_/1/2/left5.jpg/ENO6kNkCGIGRASAHKAc/KHgVe6ddRuMv1X9_zpYctrq-Np1yEtuE4gyZxX2G7eY?size=1280x960&size_mode=3");
}



.recipesimg ul:hover li {
  width: 8%;
}
.recipesimg ul:hover li:hover {
  width: 48%;
}
.recipesimg ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.recipesimg ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .logoimg{
  text-align:center;
  padding-left: 20px;
  margin-top:10px;
  }

  header nav ul {
             display: block;
             text-align: center;
             padding: 0px 5px;
        }

  .navigation li a {
      border-top: 1px solid #f0f0f0;
      line-height:30px;
      
    }

  .recipesimg {
    height: auto;
    margin: 0;
  }

  .recipesimg ul li, .recipesimg ul li:hover, .recipesimg ul:hover li, .recipesimg ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}