/* global */

*{ box-sizing:border-box; }
.clearfix{ overflow:auto; }


@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

/*header*/

.logoimg{
  text-align:center;
}

/*nav*/
 
    
.navigation li a {
      display: block;
      padding: 5px;
    }
    
    @media all and (min-width: 600px) {
      .navigation li {
        display: inline-block;
        margin: 0 5px;
      }
      .navigation li a {
        padding: 10px 30px;
        border: 0;
      }
    }
    header nav ul {
             display: block;
             text-align: center;
             padding: 0px 5px;
        }

        a{
           color:#656a7e;
             text-decoration:none;
             font-family:Open Sans, sans-serif;
             display: inline-block;
        }
        .navigation a:hover {
           color:#bebebd;
        }

        ul li{
list-style-type:none;
}


/* img part*/

.recipesimg {
  width: 100%;
  max-width: 1080px;
  height: 430px;
  overflow: hidden;
  margin: 30px auto;
}
.recipesimg ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.recipesimg ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 20%;
  height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.4s ease;
}
.recipesimg ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.recipesimg ul li div a {
  display: block;
  height: 430px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.recipesimg ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.recipesimg ul li div a h2 {
  font-family: Montserrat,sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 300px;
}
.recipesimg ul li div a p {
  top: 300px;
  font-size: 13.5px;
}
.recipesimg ul li:nth-child(1) {
  background-image: url("https://cloud.githubusercontent.com/assets/15038501/11573191/ff7c6624-99d2-11e5-8da5-e5435f8105b1.jpg"); 
}
.recipesimg ul li:nth-child(2) {
  background-image: url("https://cloud.githubusercontent.com/assets/15038501/11573320/ad599258-99d3-11e5-9e1e-9fc87ee1086d.jpg");
}
.recipesimg ul li:nth-child(3) {
  background-image: url("https://cloud.githubusercontent.com/assets/15038501/11573325/b162b73a-99d3-11e5-95d7-78779a4ae9c4.jpg");
}
.recipesimg ul li:nth-child(4) {
  background-image: url("https://cloud.githubusercontent.com/assets/15038501/11573515/c022eb90-99d4-11e5-9675-c31cada089a0.jpg");
}
.recipesimg ul li:nth-child(5) {
  background-image: url("https://cloud.githubusercontent.com/assets/15038501/11573334/b8ab6276-99d3-11e5-9b96-7b208ec6f639.jpg");
}



.recipesimg ul:hover li {
  width: 8%;
}
.recipesimg ul:hover li:hover {
  width: 48%;
}
.recipesimg ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.recipesimg ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .logoimg{
  text-align:center;
  
  margin-top:10px;
  }

  header nav ul {
             display: block;
             text-align: center;
             padding: 0px 5px;
        }

  .navigation li a {
      border-top: 1px solid #f0f0f0;
      line-height: 25px;
      
    }

  .recipesimg {
    height: auto;
    margin: 0;
  }

  .recipesimg ul li, .recipesimg ul li:hover, .recipesimg ul:hover li, .recipesimg ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}